/* Navbar */
.navbar {
  background: rgba(18, 18, 18, 0.8);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999; /* Navbar always on top */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
  object-fit: cover;
  height: 3rem;
  width: 4rem;
}

.desktopMenu {
  display: flex;
  align-items: center;
}

.desktopMenuListItem {
  margin-right: 4rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.desktopMenuListItem:hover {
  color: var(--accent-color);
  padding-bottom: 0.5rem;
  border-bottom: 3px solid var(--accent-color);
}

.desktopmenuBtn {
  background: var(--accent-color);
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  z-index: 3; /* Above all other content */
}

.desktopmenuBtn:hover {
  background-color: #e6b322;
}

.desktopmenuImg {
  object-fit: cover;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.mobMenu {
  display: none; /* Initially hide the mobile menu icon */
  object-fit: cover;
  height: 2rem;
  cursor: pointer;
}

.navMenu {
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 3; /* Above all other content */
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
  min-width: 15rem;
  background: rgb(40, 40, 40);
  border-radius: 1rem;
}

.ListItem {
  color: white;
  padding: 0.5rem 3rem;
  margin: 0.25rem;
  background: rgb(30, 30, 30);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ListItem:hover {
  background-color: var(--accent-color);
}

/* For mobile view */
@media screen and (max-width: 720px) {
  .mobMenu {
    display: flex; /* Show the mobile menu icon on small screens */
  }

  .desktopMenu {
    display: none; /* Hide desktop menu on mobile */
  }

  .desktopmenuBtn {
    display: none; /* Hide the contact button on mobile */
  }
}

@media screen and (max-width: 992px) {
  .desktopMenuListItem {
    margin: 2rem;
  }

  .navbar {
    margin-bottom: 0px;
  }
}

/* Particles container styling */

